html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: normal;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.wrap {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    background-color: #f4f7f9;
    font-size: 17px;
    padding-bottom: 48px;
    margin-bottom: 0px;
}

.user-navigation {
    background-color: #293449;
    line-height: 1.06;
    margin-bottom: 46px;
}

.user-navigation-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    background-color: #ee3643;
    box-shadow: 0px 5px 0 0 #b52933;
    display: flex;
    width: 220px;
    height: 42px;
}

.logo img {
    margin: auto;
    align-self: center;
}

.logo:hover {
    background-color: #ca2c37;
}

.logo:active {
    background-color: #ba2732;
}

.search {
    color:black;
    background-color: #293449;
    border: none;
    align-self: center;
    padding-left: 51px;
    height: 100%;
    width: 270px;
}

.search:hover {
    background-color: #212a3a;
}

.search-svg {
    pointer-events: none;
    position: absolute;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3;
    width: 17px;
    height: 17px;
    order: -1;
}

.search:hover + .search-svg {
    opacity: 1;
}

.search:focus + .search-svg {
    opacity: 1;
    fill: red;
}

.user-navigation-inner svg:active {
    fill: #ee3643;
}

.search::-webkit-input-placeholder {
    color:white;
}

.search::-moz-placeholder {
    color:white;
}

.search:-moz-placeholder {
    color:white;
}

.search:-ms-input-placeholder {
    color:white;
}

.search:focus {
    background-color: white;
    outline: none;
}

.user-navigation a {
    color: white;
    display: flex;
}

.search-form {
    display: flex;
    align-items: center;
    position: relative;
}

.user-navigation-inner form:hover,
.bookmarks:not(.color-add):hover,
.basket:not(.color-add):hover {
    background-color: #212a3a;
}

.user-navigation a:active {
    color: rgba(255, 255, 255, 0.6)
}

.button-checkout:hover {
    background-color: #5fbb2d;
}

.button-checkout:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #518534;
}

.bookmarks {
    display: block;
    width: 150px;
    padding-top: 12px;
    padding-left: 45px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
}

.bookmarks::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;
    width: 14px;
    height: 16px;
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.bookmarks:hover::before {
    opacity: 1;
}

.bookmarks:active::before {
    opacity: 0.3;
}

.basket {
    display: block;
    width: 150px;
    padding-top: 12px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-left: 50px;
    position: relative;
}

.basket::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;
    width: 15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.basket:hover::before {
    opacity: 1;
}

.basket:active::before {
    opacity: 0.3;
}

.button-checkout {
    display: block;
    width: 150px;
    min-height: 42px;
    background-color: #63a63e;
    padding-top: 12px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-left: 20px;
}

.user-cart::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;
    width: 15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.user-cart:hover::before {
    opacity: 1;
}

.user-cart:active::before {
    opacity: 0.3;
}

.catalog-buy {
    display: block;
    width: 135px;
    min-height: 38px;
    padding-top: 11px;
    padding-left: 48px;
    color: white;
    font-size: 14px;
    line-height: 1.29;
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #63a63e;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 8px;
    border-radius: 3px;
    position: relative;
}

.catalog-buy::before {
    content: "";
    position: absolute;
    left: 15px;
    width: 15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.catalog-buy:hover {
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #5fbb2d;
    outline: none;
}

.catalog-buy:active {
    box-shadow: none;
    background-color: #518534;
    outline: none;
}

.catalog-save {
    display: block;
    color: #32425c;
    font-size: 14px;
    padding-top: 8px;
    padding-left: 32px;
    line-height: 1.29;
    width: 135px;
    min-height: 38px;
    border: solid 3px #63a63e;
    background-color: white;
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 3px;
}

.catalog-save:hover {
    border: solid 3px #32425c;
    outline: none;
}

.catalog-save:active {
    opacity: 0.3;
    outline: none;
}

.color-add {
    background-color: #ee3643;
}

.actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 150px;
    padding: 43px 40px;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
    display: none;
}

.box-catalog-inner:hover .actions {
    display: block;
}

.info {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 24px;
}

.info-description {
    color: #ee3643;
    font-size: 16px;
    font-style: italic;
    text-align: left;
    line-height: 1.44;
    width: 250px;
    padding-top: 3px;
    padding-left: 52px;
    margin-top: 0;
    margin-right: 40px;
    width: 258px;
}

.info-contacts {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 68px;
}

.info-phone {
    color: #ee3643;
    font-size: 21px;
    line-height: 1;
    border: solid 3px #ffffff;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 70px;
    width: 270px;
    margin-top: 0;
    margin-bottom: 4px;
    position: relative;
}

.info-phone::before {
    content: "";
    position: absolute;
    left: 9px;
    width: 19px;
    height: 19px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.info-address {
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: #32425c;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}

.info-user {
    display: flex;
    margin-top: 0;
}

.info-user li {
    list-style: none;
    background-color: white;
}

.info-user-login {
    position: relative;
    margin-right: 10px;
}

.login {
    display: block;
    width: 121px;
    min-height: 45px;
    padding-top: 12px;
    padding-left: 47px;
    padding-right: 10px;
    padding-bottom: 12px;
    color: black;
    font-size: 21px;
    line-height: 1;
}

.info-user {
    color: black;
    font-size: 21px;
    line-height: 1;
}

.login-svg {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 17px;
    pointer-events: none;
}

.login:hover + .login-svg {
    fill: #32425c;
}

.login:active + .login-svg {
    fill: #c5c5c5;
}

.info-user-registration {
    margin-left: 0;
}

.registration {
    color: black;
    display: block;
    width: 150px;
    min-height: 45px;
    padding-top: 12px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-left: 24px;
}

.info-user a:hover {
    color: #ee3643;
}

.info-user a:active {
    color: rgba(0, 0, 0, 0.3);
}

.nav {
    list-style: none;
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
    min-height: 55px;
    background-color: #32425c;
    box-shadow: 0 5px 0 0 #293449;
}

.nav-item a {
    display: block;
    color: white;
    font-size: 17px;
    line-height: 17px;
    padding-top: 20px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 30px;
}

.nav-item:first-child a {
    padding-left: 52px;
}

.nav-item:last-child a {
    padding-right: 54px;
}

.nav-item a:hover {
    background-color: #293449;
}

.box-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 59px;
    margin-bottom: 53px;
}

.items {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    justify-content: space-between;
    width: 940px;
    margin-bottom: 20px;
}

.items li {
    width: 300px;
    min-height: 123px;
}

.items-element {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.items-element li {
    width: 300px;
    min-height: 123px;
}

.items-materials p,
.items-tools p,
.items-equipment p,
.items-discount p,
.items-delivery p {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    color: white;
    margin: 0;
    padding-top: 21px;
    padding-right: 100px;
    padding-bottom: 13px;
    padding-left: 23px;
}

.items-materials {
    background-color: #ffbf47;
}

.items-materials p {
    position: relative;
}

.items-materials p::after {
    content: "";
    position: absolute;
    width: 44px;
    height: 65px;
    top: 31px;
    right: 43px;
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.items-materials {
    position: relative;
}

.items-materials::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 59px;
    bottom: 64px;
    left: 239px;
    background-image: url("../img/new.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.items-tools {
    background-color: #3bbce3;
}

.items-tools p {
    position: relative;
}

.items-tools p:after {
    content: "";
    position: absolute;
    width: 75px;
    height: 61px;
    top: 33px;
    left: 197px;
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.items-equipment {
    background-color: #dc91d8;
}

.items-equipment p {
    position: relative;
}

.items-equipment p::after {
    content: "";
    position: absolute;
    width: 78px;
    height: 62px;
    top: 31px;
    left: 191px;
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.items-discount {
    background-color: #8ed78f;
}

.items-discount p {
    position: relative;
}

.items-discount p::after {
    content: "";
    position: absolute;
    width: 59px;
    height: 72px;
    top: 25px;
    left: 196px;
    background-image: url("../img/icon-4.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.items-delivery {
    background-color: #ffc047;
}

.items-delivery p {
    position: relative;
}

.items-delivery p::after {
    content: "";
    position: absolute;
    width: 78px;
    height: 63px;
    top: 32px;
    left: 191px;
    background-image: url("../img/icon-5.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.items-materials a,
.items-tools a,
.items-equipment a,
.items-discount a,
.items-delivery a {
    display: block;
    width: 135px;
    min-height: 38px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.29;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.items-materials a:hover,
.items-tools a:hover,
.items-equipment a:hover,
.items-discount a:hover,
.items-delivery a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.items-materials a:active,
.items-tools a:active,
.items-equipment a:active,
.items-discount a:active,
.items-delivery a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.slider {
    position: relative;
    margin-right: 20px;
    background-color: #2e1c17;
    width: 620px;
    height: 266px;
}

.slide-img {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
}

.slider-slides {
    position: relative;
    padding: 24px 23px 23px 25px;
    display: none;
}

.slide-content {
    min-height: 217px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.slide-content h3 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    color: white;
    text-transform: uppercase;
    margin: 0;
}

.slide-content p {
    font-size: 18px;
    line-height: 1.33;
    color: white;
    margin: 0 0 122px;
}

#slider-1:checked ~ .slider-slides-1,
#slider-2:checked ~ .slider-slides-2 {
  display: block;
}

.arrow {
    content: "";
    position: absolute;
    width: 22px;
    height: 40px;
    top: 114px;
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 100;
    cursor: pointer;
}

.back{
    left: 25px;
    background-image: url("../img/icon-left.svg");
}

.next {
    right: 20px;
    background-image: url("../img/icon-right.svg");
}

.arrow:hover {
   opacity: 0.3;
}

.slider-check {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.check-1 {
    top: 220px;
    left: 295px;
}

.check-2 {
    top: 220px;
    left: 315px;
}

#slider-1:checked ~ .check-1,
#slider-2:checked ~ .check-2 {
    background-color: #ee3643;
}

.radio-slider:focus + .arrow {
    outline: 2px solid red;
}

.open-catalog {
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.29;
    color: white;
    text-transform: uppercase;
    background-color: #ee3643;
    width: 195px;
    min-height: 38px;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    margin-bottom: 0;
}

.button-effect:hover {
    background-color: #ca2c37;
}

.button-effect:active {
    background-color: #ba2732;
}

.popular-product ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.popular-product h2,
.popular-producer h2 {
    margin: 0;
    font-size: 30px;
    padding-top: 30px;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-left: 29px;
    font-weight: normal;
    line-height: 1;
    color: #32425c;
    text-transform: uppercase;
}

.popular-product div:first-child {
    display: flex;
    background-color: #f9f5f0;
    justify-content: space-between;
    margin-bottom: 19px;
    padding: 0;
}

.popular-product-all,
.popular-producer-all  {
    width: 253px;
    min-height: 38px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.29;
    color: white;
    text-transform: uppercase;
    background-color: #ee3643;
    margin-top: 25px;
    margin-right: 24px;
    margin-bottom: 26px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 9px;
    border-radius: 3px;
    flex-shrink: 0;
}

.popular-producer {
    margin-bottom: 66px;
}

.popular-producer div {
    display: flex;
    background-color: #f9f5f0;
    justify-content: space-between;
    margin-bottom: 18px;
    padding: 0;
    align-items: flex-start;
}

.popular-producer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.popular-producer li {
    display: flex;
    width: 220px;
    min-height: 145px;
    border: solid 1px #eaeaea;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.popular-producer li:hover {
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-producer li:active {
    opacity: 0.3;
    box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.card {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box-services {
    background-color: #f4f7f9;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.title-services {
    margin-bottom: 59px;
    width: 940px;
}

.title-services h2 {
    margin-top: 0;
    padding-top: 65px;
}

.services h2{
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    text-transform: uppercase;
}

.services p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 1.85;
    width: 410px;
}

.addition {
    display: block;
    min-height: 61px;
    color: #ffffff;
    background-color: #32425c;
    padding-top: 12px;
    padding-left: 24px;
    padding-bottom: 12px;
    padding-right: 138px;
    cursor: pointer;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.43;
}

.addition:hover {
    background-color: #293449;
}

.nav-services {
    display: flex;
    position: relative;
    max-width: 240px;
}

.nav-services::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 279px;
    top: -45px;
    right: 0;
    background-image: url("../img/shadow.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.services-item {
    display: flex;
    flex-direction: column; 
    width: 400px;
    margin-bottom: 30px;
    display: none;
    position: relative;
    z-index: 10;
}

.nav-services-wrap {
    margin-right: 80px;
    padding-bottom: 153px;
}

#delivery:checked ~ .nav-services-wrap .button-delivery,
#guarantee:checked ~ .nav-services-wrap .button-guarantee,
#credit:checked ~ .nav-services-wrap .button-credit {
    background-color: white;
    color: #32425c;
}

#delivery:checked ~ .delivery,
#guarantee:checked ~ .guarantee,
#credit:checked ~ .credit {
    display: flex;
}

.services-item h3 {
    margin: 0;
    margin-bottom: 31px;
    padding-top: 2px;
    font-size: 36px;
    font-weight: normal;
    line-height: 0.67;
    color: #32425c;
    text-transform: uppercase;
}

.services-item p {
    display: flex;
    font-family: "PT Sans", "Arial", sans-serif;
    margin: 0;
    font-size: 13px;
    line-height: 1.85;
    padding-bottom: 26px;
}

.delivery p {
    width: 275px;
}

.credit p {
    width: 300px;
}

.services-item a {
    display: block;
    width: 195px;
    min-height: 38px;
    color: white;
    background-color: #ff5357;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.29;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 10px;
    border-radius: 3px;
    position: relative;
    z-index: 10;
}

.delivery::after {
    content: "";
    position: absolute;
    width: 468px;
    height: 261px;
    top: 21px;
    left: 150px;
    background-image: url("../img/delivery.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.guarantee::after {
    content: "";
    position: absolute;
    width: 398px;
    height: 283px;
    top: -1px;
    left: 234px;
    background-image: url("../img/guarantee.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.credit::after {
    content: "";
    position: absolute;
    width: 465px;
    height: 285px;
    top: -3px;
    left: 164px;
    background-image: url("../img/credit.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.button-credit,
.button-guarantee {
    box-shadow: 0 -2px 0 0 #293449, inset 0 1px 0 0 #405069;
}

.section-info-title {
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: normal;
}

.section-info-text {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.85;
    margin-bottom: 26px;
    width: 519px;
}

.section-info p:last-of-type {
    margin-bottom: 20px;
    width: 400px;
}

.section-info-delivery {
    font-size: 18px;
    list-style: none;
    line-height: 1.11;
    padding-left: 37px;
    margin-bottom: 16px;
}

.section-info-delivery li {
    padding-bottom: 21px;
    position: relative;
}

.section-info-delivery li::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    top: 9px;
    left: -37px;
    background-color: #ee3643;
}

.button {
    display: block;
    width: 220px;
    min-height: 38px;
    background-color: #ee3643;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    padding-left: 41px;
    padding-top: 12px;
    padding-right: 30px;
    padding-bottom: 10px;;
    border-radius: 3px;
}

.button-feedback {
    display: block;
    width: 300px;
    min-height: 38px;
    background-color: #ee3643;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    padding-left: 64px;
    padding-top: 12px;
    padding-right: 55px;
    padding-bottom: 10px;
    border-radius: 3px;
}

.section-contacts {
    width: 300px;
}

.section-contacts-title {
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: normal;
}

.section-contacts-text {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 1.85;
    margin-bottom: 32px;
    width: 200px;
}

.map {
    display: block;
    margin-bottom: 36px;
}

.box-footer-top {
    background-color: #32425c;
}

.inner-footer-top {
    display: flex;
    flex-direction: column;
}

.logo-footer {
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
    display: flex;
    width: 220px;
    height: 62px;
    margin-bottom: 34px;
    flex-shrink: 0;
}

.logo-footer img {
    margin: auto;
    align-self: center;
}

.logo-footer:hover {
    background-color: #ca2c37;
}

.logo-footer:active {
    background-color: #ba2732;
}

.inner-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.inner-footer-contacts {
    display: flex;
    justify-content: space-between;
}

.footer-nav-top {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 38px;
    padding-left: 31px;
}

.box-footer-bottom {
    background-color: #293449;
}

.footer-nav-bottom {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.inner-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 13px;
}

.box-copyright {
    margin-top: 0;
    margin-bottom: 0;
}

.socials {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 47px;
    padding: 0;
    max-width: 190px;
}

.footer-wrap {
    display: flex;
}

.socials li {
    margin-right: 3px;
}

.social-button {
    display: block;
    width: 42px;
    height: 42px;
    background-color: #212a3a;
    border-radius: 50%;
    position: relative;
}

.social-button:hover,
.social-button:active {
    background-color: #ee3643;
}

.social-button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-button-vk::before {
    background-image: url("../img/icon-vk.svg");
}
.social-button-fb::before {
    background-image: url("../img/icon-fb.svg");
}
.social-button-inst::before {
    background-image: url("../img/icon-insta.svg");
}

.box-email {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 53px;
    margin-left: auto;
}

.box-website {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 13px
}

.footer-nav-item {
    color: white;
    font-size: 18px;
    line-height: 1.33;
    margin-left: 59px;
}

.footer-nav-item:hover,
.footer-nav-category:hover {
    text-decoration: underline;
}

.footer-nav-item:active {
    color: rgba(241, 245, 247, 0.5);
}

.footer-contacts {
    color: white;
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 51px;
}

.footer-contacts p {
    margin: 0;
    padding-left: 4px;
    width: 345px;
}

.footer-nav-category {
    color: #ffd180;
    font-size: 18px;
    line-height: 1.33;
    margin-left: 59px;
}

.footer-nav-category:active {
    color: rgba(255, 209, 128, 0.5);
}

.copyright {
    font-size: 16px;
    color: white;
    line-height: 1.13;
    padding-left: 2px;
    width: 230px;
}

.footer-email,
.footer-website {
    font-size: 16px;
    line-height: 1.13;
    color:#ffd180;
}

.footer-text {
    font-size: 16px;
    line-height: 1.13;
    color: white;
    margin: 0;
}

.footer-email:hover,
.footer-website:hover {
    text-decoration: underline;
}

.footer-email:active,
.footer-website:active {
    color: #ee3643;
}

.user {
    list-style: none;
    display: flex;
    align-items: start;
    width: 299px;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 0;
    margin-left: 23px;
    position: relative;
}

.user-svg {
    position: absolute;
    width: 20px;
    height: 18px;
    top: 13px;
    left: 13px;
}

.user-name:hover + .user-svg {
    fill: #32425c;
}

.user-name:active + .user-svg {
    fill: #c5c5c5;
}

.user-name:active {
    color: #b2b2b2;
}

.user-exit-svg {
    position: absolute;
    width: 20px;
    height: 17px;
    top: 14px;
    right: 11px;
}

.user-exit-svg:hover {
    fill: #32425c;
}

.user-exit-svg:active {
    fill: #c5c5c5;
}

.user li:nth-child(1) {
    display: flex;
    width: 299px;
    min-height: 45px;
    background-color: white;
    margin-bottom: 6px;
    padding-bottom: 0;
    align-items: center;
}

.user li:nth-child(2) {
    margin-left: 18px;
    margin-right: 32px;
}

.user-name {
    color: black;
    font-size: 21px;
    line-height: 1;
    padding-left: 47px;
    z-index: 2;
}

.user-orders,
.user-private {
    color: #32425c;
    font-size: 16px;
    text-decoration: underline;
}

.user-orders:hover,
.user-private:hover {
    color: #ee3643;
}

.user-orders:active,
.user-private:active {
    color: rgba(50, 66, 92, 0.3);
}

.user-orders {
    position: relative;
}

.user-orders::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    top: 7px;
    right: -19px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #32425c;
    border-radius: 50%;
}

.bredcrumbs {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-left: 15px;
    position: relative;
    margin-bottom: 20px;
}

.link-home {
    content: "";
    position: absolute;
    width: 14px;
    height: 12px;
    top: 2px;
    right: 3px;
    background-image: url("../img/icon-home.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.bredcrumbs li {
    margin-right: 41px;
    position: relative;
}

.link-catalog::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 12px;
    top: 2px;
    right: 61px;
    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.link-tools::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 12px;
    top: 2px;
    right: 86px;
    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.bredcrumbs a {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    color: #000000;
    line-height: 1.38;
    text-transform: uppercase;
}

.link-puncher::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 12px;
    top: 2px;
    right: 95px;
    background-image: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.box-catalog {
    display: flex;
    margin: 0;
    padding: 0;
    width: 700px;
    min-height: 995px;
    flex-wrap: wrap;
    margin-bottom: 29px;
}

.box-catalog-title {
    display: flex;
    margin: 0;
    min-height: 89px;
    margin-bottom: 20px;
}

.box-catalog-title h2 {
    margin-top: 0;
    margin-bottom: 0;
    width: 940px;
    padding-top: 30px;
    padding-bottom: 29px;
    padding-left: 28px;
}

.catalog li:nth-child(3n) {
    margin-right: 0;
}

.catalog-mini li:nth-child(4n) {
    margin-right: 0;
}

.box-catalog-inner {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    min-height: 316px;
    width: 218px;
}

.box-catalog-inner:hover {
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.box-catalog-inner h3 {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}

.photo-product {
    order: -1;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.catalog-title {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1;
    color: #32425c;
    background-color: #f2f6f8;
    font-weight: 400;
}

.filtr h2 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.38;
    text-transform: uppercase;
}

.filtr-list {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.76;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.filtr li {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 23px;
    text-transform: uppercase;
}

.filtr-list li:disabled {
    color: rgba(0, 0, 0, 0.4);
}

.filtr ul {
    list-style: none;
}

.filtr fieldset {
    border: 0 none;
}

.filtr-batton {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.38;
    text-transform: uppercase;
    width: 140px;
    min-height: 38px;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
    cursor: pointer;
}

.filtr-title {
    display: block;
    width: 220px;
    margin-bottom: 13px;
    background-color: #f7f3ec;
}

.filtr-title h2 {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
    border-radius: 3px;
}

.box-filtr-price {
    display: flex;
    margin: 0;
    padding: 0;
}

.filtr-price {
    margin: 0;
    padding: 0;
    border: none;
}

.range-filter {
    width: 220px;
    margin-top: 0;
    margin-bottom: 43px;
}

.filtr-price legend {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.76;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.range-controls {
    position: relative;
    height: 80px;
    background-color: #f7f3ec;
    margin-bottom: 9px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
}

.range-controls .bar {
    width: 140px;;
    height: 2px;
    background: #00ca74;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.toggle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 22px;
    top: 30px;
    background-image: url("../img/filter-button.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
}

.toggle-min::before {
    left: 19px;
}

.toggle-max::before {
    right: 40px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.min-price input,
.max-price input {
    width: 95px;
    min-height: 38px;
    text-align: center;
    background-color: #f7f3ec;
    border: none;
    border-radius: 3px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 1.06;
}

.min-price::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 1px;
    top: 18px;
    left: 104px;
    background-color: #444444;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.option {
    padding-left: 33px;
}

.check::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    left: 0;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    opacity: 0.2;
}

.check:hover::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    left: 0;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    opacity: 0.3;
}

.check-input:focus + .check::before {
    outline: 3px solid red;
}

.check-input:disabled + .check::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    left: 0;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: auto;
    opacity: 0.1;
}

.check-input:checked:disabled + .check::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    left: 0;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: auto;
    opacity: 0.1;
}

.check-input:checked + .check::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    left: 0;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    opacity: 0.2;
}

.check-input:checked:hover + .check::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    left: 0;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    opacity: 0.3;
}

.radio::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    opacity: 0.2;
}

.radio-input:focus + .radio::before {
    outline: 3px solid red;
}

.radio:hover::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    opacity: 0.3;
}

.radio-input:disabled + .radio::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: auto;
    opacity: 0.1;
}

.radio-input:checked + .radio::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    opacity: 0.2;
}

.radio-input:checked:hover + .radio::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    opacity: 0.3;
}

.radio-input:checked:disabled + .radio::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: auto;
    opacity: 0.1;
}

.box-filtr-producer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.box-filtr-producer ul {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 21px;
    flex-direction: column;
}

.box-filtr-producer li {
    margin-bottom: 17px;
}

.filtr-list-power {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.filtr-list-power ul {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 61px;
    flex-direction: column;
}

.filtr-list-power li {
    margin-bottom: 16px;
}

.catalog {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.catalog-mini {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.catalog h3,
.catalog-mini h3 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.11;
    color: black;
    padding: 0 30px;
}

.catalog li,
.catalog-mini li {
    position: relative;
    display: flex;
    width: 220px;
    margin-right: 20px;
    border: solid 1px #e5e5e5;
    margin-bottom: 21px;
}

.new-img {
    position: relative;
}

 .new-img::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 59px;
    left: 159px;
    background-image: url("../img/new.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 100;
}

.catalog-price-initial {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.06;
    color: #999999;
    text-decoration: line-through;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}

.catalog-price-final {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.06;
    color: #ffffff;
    background-color: #ee3643;
    width: 75px;
    margin: 0;
    padding: 0;
    margin-left: 77px;
    margin-top: auto;
    margin-bottom: 31px;
    position: relative;
}

.catalog-price-final::before {
    content: "";
    position: absolute;
    width: 141px;
    height: 38px;
    top: -10px;
    left: -36px;
    background-image: url("../img/red-button.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: -1;
}

.sorting {
    display: flex;
    justify-content: space-between;
    width: 700px;
    background-color: #f7f3ec;
    margin: 0;
    margin-bottom: 21px;
    padding-top: 10px;
    padding-left: 19px;
    padding-bottom: 8px;
}

.sorting ul {
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sorting p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.38;
    color: black;
    text-transform: uppercase;
    margin: 0;
    margin-right: 130px;
}

.sorting-list {
    display: flex;
    flex-wrap: wrap;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 14px 0;
}

.sorting-list-functions {
    margin-right: 105px;
}

.sorting-list-type {
    margin-right: 65px;
}

.sorting-list-price {
    margin-right: 62px;
    margin-left: auto;
}

.sorting-list-item {
    color:black;
    opacity: 0.3;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #ee3643;
}

.sorting-list-item:hover {
    color: #000000;
    opacity: 1;
    text-decoration-style: solid;
    text-decoration-color: #ee3643;
}

.sorting-list-item:active {
    opacity: 1;
    color: #ee3643;
    text-decoration: none;
}

.sorting-list-item.active{
    opacity: 1;
    color: #ee3643;
    text-decoration: none;
}

.sorting-up,
.sorting-down {
    position: relative;
}

.up-dir-svg {
    position: absolute;
    width: 11px;
    height: 10px;
    top: 4px;
    right: 49px;
}

.up-dir-svg:hover {
    fill: #231f20;
}

.up-dir-svg:active,
.up-active {
    fill: #ee3643;
}

.down-dir-svg {
    position: absolute;
    width: 11px;
    height: 10px;
    top: 4px;
    right: 17px;
}

.down-dir-svg:hover {
    fill: #231f20;
}

.down-dir-svg:active {
    fill: #ee3643;
}

.pagination-item {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

.pagination-item a {
    display: block;
    text-align: center;
    padding: 10px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 1.38;
    color: black;
    text-transform: uppercase;
    font-weight: normal;
    border: solid 1px #e5e5e5;
    width: 38px;
    min-height: 38px;
    border-radius: 3px;
    border: solid 1px #e5e5e5;
}

.pagination-item a:hover {
    border-color:  #bdc6ca;
}

.pagination-item a:active {
    border-color:  #ee3643;
}

.pagination-list {
    display: flex;
    margin: 0;
    padding: 0;
    width: 700px;
    min-height: 38px;
}

.pagination-list:last-child {
    width: 140px;
}

.pagination-item:last-child a {
    width: auto;
    padding-right: 32px;
    padding-left: 32px;
}

.pagination-item-current a {
    color: #ffffff;
    background-color: #ee3643;
    border: none;
}

.info-text {
    background-color: #f4f7f9;
}

.info-text h2 {
    font-size: 30px;
    padding-top: 64px;
    line-height: 1;
    color: black;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 27px;
}

.info-text p {
    font-size: 13px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: black;
    line-height: 1.85;
    margin: 0;
    padding: 0;
    padding-bottom: 69px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
}

.box {
    position: relative;
    display: flex;
    margin-bottom: 60px;
}

.column-filtr::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 1px;
    top: 245px;
    background-color: #e5e5e5;
}

.filtr::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 1px;
    top: 508px;
    background-color: #e5e5e5;
}

.column-filtr {
    display: flex;
    width: 220px;
    margin-right: 20px;
}

.column-catalog {
    display: flex;
    width: 700px;
    flex-direction: column;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.popup-map {
    position: fixed;
    background-color: #ffffff;
    width: 940px;
    height: 446px;
    top: 200px;
    left: 50%;
    margin-left: -470px;
    box-shadow: 0 0 14.72px 1.28px rgba(47, 42, 43, 0.5);
    display: none;
    z-index: 1000;
}

.exit-map {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 8px;
    right: 9px;
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.exit-map:hover {
    opacity: 0.3;
}

.popup-cart {
    position: fixed;
    width: 620px;
    height: 283px;
    border-top: 7px solid #ee3643;
    box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
    top: 235px;
    left: 50%;
    margin-left: -310px;
    background-color: #ffffff;
    z-index: 1000;
    display: none;
}

.exit-contacts {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 8px;
    right: 9px;
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.popup-cart h2 {
    font-size: 30px;
    margin: 0;
    padding-left: 175px;
    padding-top: 65px;
    padding-bottom: 68px;
}

.popup-cart-wrap {
    max-width: 620px;
    margin: 0 auto;
}

.popup-cart-inner {
    background-color: #f1f1f1;
    padding-top: 37px;
    padding-bottom: 40px;
}

.popup-cart form {
    display: flex;
    justify-content: center;
}

.button-checkout-popup {
    margin-right: 20px;
    width: 220px;
    min-height: 38px;
    border: none;
    background-color: #ee3643;
    color: white;
    border-radius: 3px;
}

.button-continue {
    width: 220px;
    min-height: 38px;
    border: none;
    background-color: white;
    border-radius: 3px;
}

.popup-cart h2 {
    position: relative;
}

.popup-cart h2::before {
    content: "";
    position: absolute;
    width: 66px;
    height: 66px;
    bottom: 50px;
    right: 470px;
    background-image: url("../img/icon-mark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.exit-cart {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 8px;
    right: 9px;
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.exit-cart:hover {
    opacity: 0.3;
}

.popup-contacts {
    position: fixed;
    display: block;
    width: 620px;
    height: 430px;
    border-top: 7px solid #ee3643;
    box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
    top: 120px;
    left: 50%;
    margin-left: -310px;
    background-color: #ffffff;
    z-index: 1000;
    display: none;
}

@keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }

    70% {
      transform: translateY(30px);
    }

    90% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0);
    }
  }

@keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

.popup-contacts div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 36px;
}

.exit-contacts {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 8px;
    right: 9px;
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.exit-contacts:hover {
    opacity: 0.3;
}

.button-background {
    background-color: #f4f4f4;
}

.button-send {
    width: 460px;
    min-height: 38px;
    margin-top: 37px;
    margin-bottom: 37px;
    margin-left: 80px;
    border: none;
    background-color: #ee3643;
    color: white;
    border-radius: 3px;
}

.popup-contacts-wrap {
    max-width: 480px;
    margin: 0 auto;
}

.appointment-name {
    width: 50%;
    min-height: 38px;
    margin-top: 46px;
    margin-bottom: 20px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.appointment-name  label {
    font-size: 18px;
    margin-bottom: 8px;
}

.appointment-text label {
    font-size: 18px;
    margin-bottom: 8px;
}

.appointment-name input {
    font-size: 13px;
    line-height: 18px;
    padding: 8px 14px;
    color: #999999;
    border: 2px solid #d7dcde;
}

.appointment-name input:hover {
    border: 2px solid #b5b5b5;
}

.appointment-name input:focus {
    outline: none;
    border: 2px solid #ee3643;
}

.appointment-text {
    margin: 0;
    padding: 0 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.appointment-text textarea {
    min-height: 114px;
    font-size: 13px;
    line-height: 18px;
    padding: 8px 14px;
    resize: none;
    color: #999999;
    border: 2px solid #d7dcde;
}

.appointment-text textarea:hover {
    border: 2px solid #b5b5b5;
}

.appointment-text textarea:focus {
    outline: none;
    border: 2px solid #ee3643;
}
