body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.header {
    background-color: #f4f7f9;
    font-size: 17px;
}
.user-navigation {
    background-color: #293449;
    color: white;
    list-style: none;
    font-size: 17px;
    line-height: 1.06;
}
 
.logo {
    background-color: #ee3643;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo:hover {
    background-color: #ca2c37;
}

.logo:active {
    background-color: #ba2732;
}

.search {
    color:black;
    background-color: #293449;
    border: none;
}

.search::-webkit-input-placeholder {
    color:white;
}

.search::-moz-placeholder {
    color:white;
}

.search:-moz-placeholder {
    color:white;
}

.search:-ms-input-placeholder {
    color:white;
}

.search:focus {
    background-color: white;
    outline: none;
}

.user-navigation a {
     color: white;
}

.user-navigation a:active {
    color: rgba(255, 255, 255, 0.6)
}

.user-navigation a:last-child {
    background-color: #63a63e;
}

.user-navigation a:last-child:hover {
     background-color: #5fbb2d;
}

.user-navigation a:last-child:active {
     color: rgba(255, 255, 255, 0.5);
     background-color: #518534; 
}

.user-cart {
    color: white;
    background-color: #ee3643;
}

.catalog-by {
    color: white;
    font-size: 14px;
    line-height: 1.29;
    width: 135px;
    height: 38px;
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #63a63e;
    text-transform: uppercase;
    font-weight: normal; 
}

.catalog-by:hover {
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #5fbb2d;
    outline: none;
}

.catalog-by:active {
    box-shadow: none;
    background-color: #518534;
    outline: none;
}

.catalog-save {
    color: #32425c;
    font-size: 14px;
    line-height: 1.29;
    width: 135px;
    height: 38px;
    border: solid 3px #63a63e;
    background-color: white;
    text-transform: uppercase;
    font-weight: normal;
}

.catalog-save:hover {
    border: solid 3px #32425c;
    outline: none;
}

.catalog-save:active {
    opacity: 0.3;
    outline: none;
}

.info-description {
    color: #ee3643;
    font-size: 16px;
    font-style: italic;
    text-align: left;
    line-height: 1.44;
}

.info-phone {
    color: #ee3643;
    font-size: 21px;
    line-height: 1;
    text-align: center;
}

.info-address {
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: #32425c
}

.info-user a {
    color: black;
    font-size: 21px;
    line-height: 1;
}

.info-user li {
    list-style: none;
    background-color: white;
}

.info-user-login {
    width: 121px;
    height: 45px;
}

.info-user-registration {
    width: 150px;
    height: 45px;
}

.info-user a:hover {
    color: #ee3643;
}

.info-user a:active {
    color: rgba(0, 0, 0, 0.3);
}
  
.nav,
.footer-nav,
.socials {
    list-style: none;
}

.nav-item a {
    color: white;
    background-color: #32425c;
    line-height: 1;
}

.nav-item a:hover {
    background-color: #293449;
}

.nav-item a:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

.items {
    list-style: none;

}

.items-materials p,
.items-tools p,
.items-equipment p,
.items-discount p,
.items-delivery p {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: white;
}

.items-materials {
    background-color: #ffbf47;
}

.items-tools {
    background-color: #3bbce3;
}

.items-equipment {
    background-color: #dc91d8;
}

.items-discount {
    background-color: #8ed78f;
}

.items-delivery {
    background-color: #ffc047;
}

.items-materials a,
.items-tools a,
.items-equipment a,
.items-discount a,
.items-delivery a {
    color: white;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.29;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);
} 

.slider {
    list-style: none;
    background-color: black;
}

.slider h3 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    color: white;
    text-transform: uppercase;
}

.slider p {
    font-size: 18px;
    line-height: 1.33;
    color: white;
}

.slider a {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  color: white;
  text-transform: uppercase;
  background-color: #ee3643;
}

.popular ul {
    list-style: none;
}

.popular h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    color: #32425c;
    text-transform: uppercase;
}

.popular-all {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.29;
    color: white;
    text-transform: uppercase;
    background-color: #ee3643;
}

.popular div {
    background-color: #f9f5f0;
}

.services h2{
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
}

.services p {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 1.85;
}

.services ul {
    list-style: none;
}

.services-all {
    color: black;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.43;
    color: white;
    box-shadow: 0px 1px 0 0 var(--dark), inset 0px 1px 0 0 #405069;
    background-color: #32425c;
}

.services-all:focus {
    color: #32425c;
    background-color: white;
    box-shadow: 0px 1px 0 0 var(--white), inset 0px 1px 0 0 var(--white);
}

.services-item h3 {
    font-size: 36px;
    font-weight: normal;
    line-height: 0.67;
    color: #32425c;
    text-transform: uppercase;
}

.services-item p {
    font-family: PT Sans;
    font-size: 13px;
    line-height: 1.85;
}

.services-item a {
    color: white;
    background-color: #ff5357;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.29;
    text-transform: uppercase;
}

.section-info-title {
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: normal;
}

.section-info-text {
    font-family: PT Sans;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.85;
}

.section-info-delivery {
    font-size: 18px;
    list-style: none;
    line-height: 1.11;
}

.button {
    background-color: #ee3643;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    
}

.section-contacts-title {
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: normal;
}

.section-contacts-text {
    font-family: PT Sans;
    font-size: 13px;
    line-height: 1.85;
}

.footer-nav-item {
    color: white;
    font-size: 18px;
    line-height: 1.33;
}

.footer-nav-item:hover,
.footer-nav-category:hover {
    text-decoration: underline;
}

.footer-nav-item:active {
    color: rgba(241, 245, 247, 0.5);
}

.footer-contacts {
    color: white;
    font-size: 18px;
    line-height: 1.33;
}

.footer-nav-category {
    color: #ffd180;
    font-size: 18px;
    line-height: 1.33;
}

.footer-nav-category:active {
    color: rgba(255, 209, 128, 0.5);
}

.copyright {
    font-size: 16px;
    color: white;
    line-height: 1.13;
}

.footer-text,
.footer-email{
    
    font-size: 16px;
    line-height: 1.13;
}

.footer-text {
    color: white;
}

.footer-email,
.footer-website {
    color:#ffd180;
}

.footer-email:hover,
.footer-website:hover {
    text-decoration: underline;
}
 .footer-email:active,
 .footer-website:active {
    color: #ee3643;
}

.popup-login,
.popup-registration,
.popup-contacts {
    display: none;
}

.user {
    list-style: none;
}

.user-name {
    color: black;
    font-size: 21px;
    line-height: 1;
}

.user-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-orders,
.user-private {
    color: #32425c;
    font-size: 16px;
    text-decoration: underline;
}

.user-orders:hover,
.user-private:hover {
    color: #ee3643;
}

.user-orders:active,
.user-private:active {
    color: rgba(50, 66, 92, 0.3);
}

.bredcrumbs {
    list-style: none;
}

.bredcrumbs a {
    font-family: PT Sans;
    font-size: 13px;
    color: #000000;
    line-height: 1.38;
    text-transform: uppercase;
}

.catalog-title {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1;
    color: #32425c;
    background-color: #f2f6f8;
    font-weight: 400;
}

.filtr h2 {
    font-family: PT Sans;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.38;
    text-transform: uppercase;
}

.filtr-list {
    font-family: PT Sans;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.76;
    text-transform: uppercase;
}

.filtr li {
    font-family: PT Sans;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.33;
    text-transform: uppercase;
}

.filtr-list li:disabled {
    color: rgba(0, 0, 0, 0.4);
}

.filtr ul {
    list-style: none;
}
.filtr fieldset {
    border:0 none;
}

.filtr-batton {
    font-family: PT Sans;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.38;
    text-transform: uppercase;
    width: 140px;
    height: 38px;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
}

.filtr-price legend {
    font-family: PT Sans;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.76;
    text-transform: uppercase;
}

.filtr-price input {
  font-family: PT Sans;
  font-size: 17px;
  line-height: 1.06;
}

.catalog {
    list-style: none;
}

.catalog a {
    font-family: PT Sans;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.11;
    color: black;
}

.catalog-price-initial {
  font-family: PT Sans;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  color: #999999;
  text-decoration: line-through;
}

.catalog-price-final {
    font-family: PT Sans;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.06;
    color: #ffffff;
    background-color: #ee3643;
    width: 75px;
}

.sorting ul {
    text-transform: uppercase;
    list-style: none;
}

.sorting p {
    font-family: PT Sans;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.38;
    color: black;
    text-transform: uppercase;
}

.sorting-list li:nth-child(1) a {
    color: #ee3643;
}

.sorting-list li:nth-child(2) a,
.sorting-list li:nth-child(3) a {
    opacity: 0.3;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    text-decoration-color: #ee3643;
}

.pagination-item {
    list-style: none;
}

.pagination-item a {
    font-family: PT Sans;
    font-size: 13px;
    line-height: 1.38;
    color: black;
    text-transform: uppercase;
    font-weight: normal;
    border: solid 1px #e5e5e5;
}

.pagination-item-current a {
    color: #ffffff;
    background-color: #ee3643;
}

.info-text h2 {
    font-size: 30px;
    line-height: 1;
    font-family: Cuprum;
    color: black;
    font-weight: normal;
}

.info-text p {
    font-size: 13px;
    font-family: PT Sans;
    color: black;
    line-height: 1.85;
} 

.popup-cart {
    display: none;
}



/*-------Сеточные стили --------*/

html { 
    box-sizing: border-box; 
}
*::before, *::after {
     box-sizing: inherit;
}

.user-navigation {
    display: flex;
    background-color: #293449; 
    height: 42px;
    margin-bottom: 46px;
    justify-content: center;
}

.logo {
    display: flex;
    width: 220px;
    height: 47px;
}

.logo img {
    margin: auto;
    align-self: center;
}

.user-navigation form {
    display: flex;
}

.search {
    align-self: center;
    width: 270px;
}

.user-navigation a {
    display: flex;
}

.user-navigation a:nth-of-type(2),
.user-navigation a:nth-of-type(3) {
    width: 150px;
}

.user-navigation a:nth-of-type(2) p,
.user-navigation a:nth-of-type(3) p {
    margin: auto;
    align-self: center;
   
}


.user-navigation a:nth-of-type(4) {
    width: 150px;
    height: 42px;
}

.user-navigation a:nth-of-type(4) p {
    margin: auto;
    align-self: center;
}

.info {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    align-items: start;
}

.info-description {
    margin: 0px;
    padding: 0px;
    width: 250px;
    min-height: 112px;
    padding-left: 52px;
    margin-bottom: 44px;
    margin-right: 71px;
}

.info-contacts {
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 43px;
    min-height: 68px;
}

.info-phone {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    border: solid 3px #ffffff;
    padding-top: 13px;
    width: 270px;
    min-height: 45px;
}

 .info-address {
    margin: 0px;
    padding: 0px;
    margin-right: auto;
    margin-left: auto;
}

.info-user {
    display: flex;
}

.info-user-login {
    display: flex;
    width: 121px;
    min-height: 45px;
    margin-right: 10px;
}


.info-user-registration {
    display: flex;
    min-height: 45px;
}

.info-user-login a {
    width: 121px;
}

.info-user-registration a {
    width: 150px;
}

.info-user-login a,
.info-user-registration a {
    display: flex;
    height: 45px;
}

.info-user-login p,
.info-user-registration p {
    margin: auto;
    align-self: center;
}


.user {
    display: flex;
    align-items: start;
    width: 299px;
    flex-wrap: wrap;
} 

.user li:nth-child(1) {
    display: flex;
    width: 299px;
    height: 45px;
    background-color: white;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.user li:nth-child(2) {
    margin-right: 32px;
}

.nav {
    display: flex;
    width: 940px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.nav-item  {
    display: flex;
    background-color: #32425c;
}

.nav-item a {
    display: flex;
    width: 127px;
    height: 60px;
}

.nav-item p {
    margin: auto;
    align-self: center;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 82px;
    padding-right: 130px;
    padding-bottom: 86px;
    padding-left: 130px;
}

.section-info {
    margin-right: 120px;
}

.section-contacts {
    width: 300px;
}


.bredcrumbs {
    display: flex;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.bredcrumbs li {
    margin-right: 39px;
}

.box-catalog-title {
    display: flex;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    min-height: 89px;
    margin-bottom: 20px;
    justify-content: center;
}

.box-catalog-title h2 {
    margin: 0px;
    padding: 0px;
    width: 940px;
    padding-top: 32px;
    padding-bottom: 34px;
    padding-left: 30px;
}

.box {
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 940px;
    min-height: 1050px;
    margin-left: auto;
    margin-right: auto;
}

/* колонка слева*/
.column-filtr {
    display: flex;
    width: 220px;
    min-height: 746px;
    margin: 0px;
    padding: 0px;
    margin-right: 20px;
}
/* колонка справа */
.column-catalog {
    display: flex;
    width: 700px;
    min-height: 1050px;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
}

.sorting {
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 700px;
    min-height: 38px;
    background-color: #f7f3ec;
    margin-bottom: 21px;
}

.sorting p {
    margin: 0px;
    padding: 0px;
    padding-top: 14px;
    padding-left: 19px;
    margin-right: auto;
    
}

.sorting-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    padding-top: 14px;
}

.sorting-list li:nth-child(1) {
    padding-right: 71px;
}

.sorting-list li:nth-child(2) {
    padding-right: 65px;
}

.box-catalog {
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 700px;
    min-height: 995px;
    flex-wrap: wrap;
    margin-bottom: 52px;
}

.pagination-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 700px;
    min-height: 38px;
}

.pagination-item {
    margin: 0px;
    padding: 0px;
    width: 38px;
    height: 38px;
    border: solid 1px #e5e5e5;
    margin-right: 10px;
}

.pagination-list:last-child {
    width: 140px;
}


.catalog {
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
}

.catalog li {
    display: flex;
    width: 218px;
    min-height: 318px;
    margin-right: 20px;
    border: solid 1px #e5e5e5;
}

.catalog li:nth-child(3n) {
    margin-right: 0px;
}

.box-catalog-inner {
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
}

.photo-product {
    order: -1;
    margin: 0px;
    padding: 0px;
    margin-bottom: 12px;
}

.box-catalog-inner h3 {
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
}

.catalog-price-initial {
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
}

.catalog-price-final {
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 21px;
}

.catalog-by {
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.catalog-save {
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}


.filtr-title {
    display: flex;
    margin: 0px;
    padding: 0px;
    background-color: #f7f3ec;
}

.filtr-title h2 {
    padding-top: 14px;
    scroll-padding-bottom: 15px;
    padding-left: 18px;
}

.box-filtr-price {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.box-filtr-producer {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.filtr-list {
    margin-bottom: 20px;
}

.box-filtr-producer ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    margin-bottom: 21px;
    flex-direction: column;
}

.box-filtr-producer li {
    margin-bottom: 17px;
}

.filtr-list-power {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.filtr-list-power ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    margin-bottom: 75px;
    flex-direction: column;
}

.filtr-list-power li {
    margin-bottom: 16px;
}


.footer {
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    
}

.box-footer-top {
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    background-color: #32425c;
}

.box-footer-bottom {
    display: flex;
    margin: 0px;
    padding: 0px;
    background-color: #293449;
    justify-content: center;
    min-height: 105px;
}

.box-copyright {
    margin: 0px;
    padding: 0px;
    padding-right: 161px;
}

.box-socials {
    display: flex;
    margin: 0px;
    padding: 0px;
    padding-right: 119px;
}

.socials {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.box-text {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.box-email {
    margin: 0px;
    padding: 0px;
    margin-right: 53px;
}

.box-footer-nav {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    width: 950px;

}

.footer-nav {
    display: flex;
    margin: 0px;
    padding: 0px;
}


.box-footer-contacts {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

.footer-contacts {
    margin-right: 91px;
}

.footer-nav li {
    margin-right: 60px;
}


/* Временно */
.visually-hidden {
    display: none;
}